.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 0.5rem 0;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding: 0;
  margin: 0 0.25rem;
}

li {
  margin: 0 0.25rem;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
  display: block;
}

.links > ul {
  display: flex;
  justify-content: space-between;
}